.card {
    border: 1px solid grey;
    width: 200px;
}

.card__header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid grey;
    align-items: baseline;
}

.card__btn-remove {
    color: #b70e0e;
    font-size: 16px;
    cursor: pointer;
}

.card__img-wrap {
    position: relative;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid grey;
}

.card__hover {
    display: none;
}

.card__caption {
    color: grey;
    font-size: 12px;
    padding: 10px;
    text-align: left;
    font-weight: normal;
}

@media (max-width: 767px) {
    .card {
        width: 100%;
    }
    .card__header {
        justify-content: center;
    }

    .card__btn-remove {
        display: none;
    }

    .card__img-wrap:hover .card__hover {
        display: flex;
    }

    .card__hover {
        flex-direction: column;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(12, 0, 1, .7);
        justify-content: center;
        align-items: center;
        display: none;
    }

    .card__remove-mobile {
        color: #bb4f50;
        text-shadow: 1px 1px 2px black, 0 0 1em black;
        margin-bottom: 10px;
    }
}